/*** HEADER ***/
#header {
  position: relative;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 8px rgba(88, 88, 88, 0.2);
  z-index: 100;
}
header {
  width: 100%;
  height: 84px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1048px;
  height: 100%;
  margin: 0 auto;
}

/** HEADER -> logo **/
.logo {
}
.logo .txt--strong,
.logo .txt--regular {
  display: inline-block;
  vertical-align: bottom;
}
.logo .txt--strong {
  font-size: 26px;
  font-weight: 900;
  line-height: 32px;
}
.logo .txt--regular {
  margin-left: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}

/** HEADER -> nav **/
nav {
  height: 100%;
}
#primary-menu {
  height: 100%;
}
#primary-menu > .gnb__item {
  position: relative;
  display: inline-block;
  height: inherit;
  padding: 0 20px;
  vertical-align: top;
}
#primary-menu > .gnb__item > a {
  display: inline-block;
  width: 100%;
  line-height: 84px;
  text-align: cetner;
  font-size: 15px;
  font-weight: 500;
  color: #666;
}
#primary-menu > .gnb__item:hover > a {
  color: #212121;
  font-weight: 600;
}

#primary-menu > .gnb__item.user {
  position: relative;
}
#primary-menu > .gnb__item.user .user__box {
  margin-top: 20px;
}
#primary-menu > .gnb__item.user .user--icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-image: url('../img/icon/icon-user-default.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: var(--btn-transition);
}
#primary-menu > .gnb__item.user:hover .user--icon {
  box-shadow: var(--boxshadow-s-obj);
  cursor: pointer;
}
#primary-menu > .gnb__item.user .user--menu__list {
  display: none;
  position: absolute;
  top: 86%;
  left: 0;
  width: 100%;
  padding: 8px 14px;
  background-color: #fff;
  box-shadow: var(--boxshadow-m-obj);
}
#primary-menu > .gnb__item.user .user--menu__item {
  text-align: center;
  line-height: 2;
  font-size: 14px;
}
#primary-menu > .gnb__item.user .user--menu__item > a {
  display: block;
}
#primary-menu > .gnb__item.user .user--menu__item.logout > a {
  color: #ff6060;
}
#primary-menu > .gnb__item.user:hover .user--menu__list {
  display: block;
}

/*** FOOTER ***/
#footer {
  width: 100%;
  background-color: #f5f5f5;
}
footer {
  width: 100%;
}
.footer__inner {
  width: 100%;
  max-width: 1048px;
  padding: 30px 0;
  margin: 0 auto;
}
footer .logo {
  margin-bottom: 10px;
  color: #999;
}
footer .logo .txt--strong {
  font-size: 24px;
}
footer .logo .txt--regular {
  font-size: 16px;
}

.addr__list {
  display: flex;
  flex-wrap: nowarp;
  justify-content: left;
  width: 100%;
}
.addr__list .addr__item {
  position: relative;
  padding-left: 14px;
  margin-left: 14px;
  color: #888;
}
.addr__list .addr__item:first-child {
  padding-left: 0;
  margin-left: 0;
}
.addr__list .addr__item:first-child::after {
  display: none;
}
.addr__list .addr__item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: #888;
}
.addr__list .addr__item > span {
  display: inline-block;
}
.addr__item .item--data {
  position: relative;
}
.addr__item .item--data::before {
  content: ':';
  display: inlnie-block;
  margin: 0 5px 0 2px;
  font-size: 14px;
}
